body{background-color:rgba(188, 151, 57, 0.314);}

.App {
  text-align: center;
}

.un{color: darkred;}
.sort{color: darkgreen;}

.line{width: 60%;
align-items: center;
border: #282c34 4px solid;
border-radius:12px ;}

.table{margin-left: 40%;
font-size: x-large;}

table , th, td{border: #282c34 2px solid;}

thead{font-weight: bold;}

.fun-btn{background-color: gray;
border-radius: 8px;
padding: 6px;
font-size:large;
}

.title{font-size: x-large;
color: darkblue;
font-weight: bold;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
